<div class="col-md-4">
    <div class="card text-white bg-primary">
        <div class="card-body">
            <blockquote class="card-blockquote">
                <img src="{{mineFurniture.image}}" />
                <p>{{mineFurniture.description}}</p>
                <footer>Someone famous in
                    <cite title="Source Title">{{mineFurniture.make}}</cite>
                </footer>
                <div class="pull-right">
                    <a href="#/furniture/details/{{mineFurniture.objectId}}" class="btn btn-info">Details</a>
                    <a href="#/furniture/mine/{{mineFurniture.objectId}}" class="btn btn-danger">Delete Item</a>
                </div>
            </blockquote>
        </div>
    </div>
</div>